<?xml version="1.0" encoding="UTF-8"?> 
<web-app version="2.5"  
	xmlns="http://java.sun.com/xml/ns/javaee"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 
	<servlet>
	   <servlet-name>ServletConfigurator</servlet-name>
	   <servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
	  
	   <init-param>
	  		<param-name>xmlFile</param-name>
	  		<param-value>WEB-INF/proxool.xml</param-value>
		</init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet> 


	<servlet>
		<servlet-name>proxoolAdmin</servlet-name>
		<servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>proxoolAdmin</servlet-name>
		<url-pattern>/proxoolAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JspSupportServlet</servlet-name>
		<servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
			
			<!-- Struts2 filter -->
			<filter>
				<filter-name>struts2CleanupFilter</filter-name>
				<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
			</filter>

			<filter>
				<filter-name>struts2Filter</filter-name>
				<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
			</filter>

			
			<filter-mapping>
				<filter-name>struts2CleanupFilter</filter-name>
				<url-pattern>*.php</url-pattern>
				<dispatcher>REQUEST</dispatcher>
				<dispatcher>FORWARD</dispatcher>
			</filter-mapping>
			<filter-mapping>
				<filter-name>struts2CleanupFilter</filter-name>
				<url-pattern>*.zf</url-pattern>
				<dispatcher>REQUEST</dispatcher>
				<dispatcher>FORWARD</dispatcher>
			</filter-mapping>
			<filter-mapping>
				<filter-name>struts2CleanupFilter</filter-name>
				<url-pattern>*.jsf</url-pattern>
				<dispatcher>REQUEST</dispatcher>
				<dispatcher>FORWARD</dispatcher>
			</filter-mapping>
			<filter-mapping>
				<filter-name>struts2CleanupFilter</filter-name>
				<url-pattern>*.do</url-pattern>
				<dispatcher>REQUEST</dispatcher>
				<dispatcher>FORWARD</dispatcher>
			</filter-mapping>
			<filter-mapping>
				<filter-name>struts2CleanupFilter</filter-name>
				<url-pattern>*.action</url-pattern>
				<dispatcher>REQUEST</dispatcher>
				<dispatcher>FORWARD</dispatcher>
			</filter-mapping>
			<filter-mapping>
				<filter-name>struts2Filter</filter-name>
				<url-pattern>*.php</url-pattern>
				<dispatcher>REQUEST</dispatcher>
				<dispatcher>FORWARD</dispatcher>
			</filter-mapping>
			<filter-mapping>
				<filter-name>struts2Filter</filter-name>
				<url-pattern>*.zf</url-pattern>
				<dispatcher>REQUEST</dispatcher>
				<dispatcher>FORWARD</dispatcher>
			</filter-mapping>
			<filter-mapping>
				<filter-name>struts2Filter</filter-name>
				<url-pattern>*.jsf</url-pattern>
				<dispatcher>REQUEST</dispatcher>
				<dispatcher>FORWARD</dispatcher>
			</filter-mapping>
			<filter-mapping>
				<filter-name>struts2Filter</filter-name>
				<url-pattern>*.do</url-pattern>
				<dispatcher>REQUEST</dispatcher>
				<dispatcher>FORWARD</dispatcher>
			</filter-mapping>
			<filter-mapping>
				<filter-name>struts2Filter</filter-name>
				<url-pattern>*.action</url-pattern>
				<dispatcher>REQUEST</dispatcher>
				<dispatcher>FORWARD</dispatcher>
			</filter-mapping>
			<!-- 出错页面定义 -->
			<error-page>
				<exception-type>java.lang.Throwable</exception-type>
				<location>/500.jsp</location>
			</error-page>
			<error-page>
				<error-code>500</error-code>
				<location>/500.jsp</location>
			</error-page>
			<error-page>
				<error-code>404</error-code>
				<location>/404.jsp</location>
			</error-page>
			<error-page>
				<error-code>403</error-code>
				<location>/403.jsp</location>
			</error-page>
			<error-page>
				<error-code>401</error-code>
				<location>/401.jsp</location>
			</error-page>
			<!-- session超时定义,单位为分钟 -->
			<session-config>
				<session-timeout>60</session-timeout>
			</session-config>
		    <jsp-config>
		    	<taglib>
		    		<taglib-uri>/struts</taglib-uri>
		    		<taglib-location>/WEB-INF/tld/struts-tags.tld</taglib-location>
		    	</taglib>
				  <!-- not required for containers that fully support JSP 1.2 -->
				  <!-- 
				  <taglib>
				    <taglib-uri>sitemesh-page</taglib-uri>
				    <taglib-location>/WEB-INF/tags/sitemesh-page.tld</taglib-location>
				  </taglib>
				  <taglib>
				    <taglib-uri>sitemesh-decorator</taglib-uri>
				    <taglib-location>/WEB-INF/tags/sitemesh-decorator.tld</taglib-location>
				  </taglib>
				   -->
		    </jsp-config>
  <welcome-file-list>  
    <welcome-file>index.html</welcome-file>  
  </welcome-file-list> 
</web-app> 
